.img-circle {
  border-radius: 50%;
  border-style: double;
}
.overflow-chip {
  overflow-x: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
.row > [class*="col-"] {
  display: flex;
  flex-direction: column;
}
.border-top-none {
  border-top: none;
}
.accordion-body {
  padding: 0 !important;
}
.score {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 1rem;
}
