.cursor-pointer{
  cursor: pointer;
}
.top-border {
  border-radius: 20px;
  border-top: 3px solid #f39c12;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.input-icon {
  position: relative;

  .input-icon-left {
    padding-left: 34px;
  }
  .input-icon-right {
    padding-right: 34px;
  }
  .input-icon-right-34 {
    padding-right: 68px;
  }
  .left-icon {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    z-index: 20;
  }
  .right-icon {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    z-index: 20;
  }
  .right-icon-34 {
    position: absolute;
    top: 0;
    right: 34px;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    z-index: 20;
  }
  .icon-action {
    cursor: pointer;
  }
}
