.bt-ribbon-danger {
  span {
    background: linear-gradient(#dc3545 0%, #690912 100%) !important;
  }
  span::before {
    border-right: 3px solid #dc3545;
    border-top: 3px solid #dc3545;
  }
  span::after {
    border-left: 3px solid #dc3545;
    border-top: 3px solid #dc3545;
  }
}

.bt-ribbon-success {
  span {
    background: linear-gradient(#198754 0%, #0a5c36 100%) !important;
  }
  span::before {
    border-right: 3px solid #198754;
    border-top: 3px solid #198754;
  }
  span::after {
    border-left: 3px solid #198754;
    border-top: 3px solid #198754;
  }
}
