.wizzard-tabbed {
  .nav .nav-link {
    color: $secondary !important;
  }
  .nav-pills .nav-link.active {
    background-color: transparent !important;
    color: $primary !important;
    border-left: $primary 3px solid !important;
    border-radius: 0 !important;
    font-weight: bold;
  }
}
