<template>
  <div class="mt-4 mb-4">
    <div class="container">
      <div class="row justify-content-center w-100">
        <div
          v-if="!state.searchResults || state.searchResults.length <= 0"
          class="col col-11 col-md-8"
        >
          <h5>There aren't results to show!!!</h5>
        </div>
        <div v-else class="col col-11 col-md-8">
          <bt-pagination
            :offset="state.offset"
            :size="state.size"
            :total="state.total"
            @changePage="loadPageData"
            stats
          />
          <div class="row justify-content-center g-4 mt-2 mb-4">
            <div
              class="col col-12 col-md-6 flex-grow-1"
              v-for="(result, index) in state.searchResults"
              :key="index"
            >
              <div v-if="state.type === 0" class="card h-100">
                <bt-ribbon
                  v-if="result.verified"
                  class="bt-ribbon-success"
                  title="Verfied"
                  position="top-left"
                ></bt-ribbon>
                <bt-ribbon
                  v-else
                  class="bt-ribbon-danger"
                  title="Not verfied"
                  position="top-left"
                ></bt-ribbon>

                <div class="card-body">
                  <img
                    v-if="result.picture"
                    :alt="result.name"
                    width="92"
                    :src="result.picture"
                    class="img-circle"
                  />
                  <img
                    v-else
                    :alt="result.name"
                    width="92"
                    src="@/assets/logo.png"
                  />
                  <h5 class="card-title mt-1">
                    <i
                      v-if="result.verified"
                      class="bi-shield-fill-check mr-2 text-success"
                    ></i>
                    <i
                      v-else
                      class="bi-shield-fill-exclamation mr-2 text-danger"
                    ></i>
                    {{ result.name }}
                  </h5>
                  <h6 class="card-subtitle mb-2 text-muted">
                    <i class="bi-pin-angle-fill mr-2"></i>
                    {{ result.locationName || "Unknown location" }}
                  </h6>
                  <p class="card-text">
                    {{ result.professionalHeadline }}
                  </p>
                  <p>
                    <span
                      v-for="(skill, skillIdx) in result.skills"
                      :key="`${result.subjectId}-${skillIdx}`"
                      :title="`${skill.name} (${skill.weight})`"
                      class="badge rounded-pill ms-1 overflow-chip bg-secondary"
                      >{{ skill.name }} ({{ skill.weight }})</span
                    >
                  </p>
                </div>
                <div
                  class="card-footer bg-transparent border-top-none"
                  style="z-index:2"
                >
                  <button
                    class="btn btn-link card-link"
                    @click="showDetailsUser(result.username)"
                  >
                    View details
                  </button>
                </div>
              </div>

              <div v-else class="card h-100">
                <bt-ribbon
                  v-if="result.status === 'open'"
                  class="bt-ribbon-success"
                  title="Open"
                  position="top-left"
                ></bt-ribbon>
                <bt-ribbon
                  v-else
                  class="bt-ribbon-danger"
                  title="Closed"
                  position="top-left"
                ></bt-ribbon>

                <div class="card-body">
                  <img
                    v-if="result.organizations.length > 0"
                    :alt="result.organizations[0].name"
                    width="92"
                    :src="result.organizations[0].picture"
                    class="img-circle"
                  />
                  <img
                    v-else
                    :alt="result.objective"
                    width="92"
                    src="@/assets/logo.png"
                  />
                  <h6 class="card-subtitle mb-2 text-muted mt-2">
                    <i class="bi-building mr-2"></i>
                    {{ result.organizations[0]?.name || "Unknown company" }}
                  </h6>
                  <span
                    class="badge score"
                    :class="{
                      'bg-success': result._meta.scorer.score >= 0.8,
                      'bg-warning':
                        result._meta.scorer.score < 0.8 &&
                        result._meta.scorer.score >= 0.5,
                      'bg-danger': result._meta.scorer.score < 0.5,
                    }"
                    >{{
                      Math.round(result._meta.scorer.score * 10000) / 100
                    }}
                    %</span
                  >

                  <h5 class="card-title mt-1">
                    {{ result.objective }}
                  </h5>
                  <h6 class="card-subtitle mb-2 text-muted mt-2">
                    <i class="bi-calendar mr-2"></i>
                    {{ result.deadline || "Unknown deadline" }}
                  </h6>
                  <h6
                    v-if="result.compensation?.visible"
                    class="card-subtitle mb-2 text-muted mt-2"
                  >
                    <i class="bi-wallet2 mr-2"></i>
                    {{ getCompensation(result.compensation.data) }}
                  </h6>
                  <h6
                    v-if="result.locations && result.locations.length > 0"
                    class="card-subtitle mb-2 text-muted"
                  >
                    <i class="bi-pin-angle-fill mr-2"></i>
                    {{ result.locations.join(" | ") }}
                  </h6>
                  <p class="card-text">
                    {{ result.professionalHeadline }}
                  </p>
                  <p>
                    <span
                      v-for="(skill, skillIdx) in result.skills"
                      :key="`${result.subjectId}-${skillIdx}`"
                      :title="`${skill.name} (${skill.weight})`"
                      class="badge rounded-pill ms-1 overflow-chip bg-secondary"
                      >{{ skill.name }}
                      <span v-if="skill.experience !== 'potential-to-develop'"
                        >({{ skill.experience.split("-")[0] }}+ years)</span
                      ></span
                    >
                  </p>
                </div>
                <div
                  class="card-footer bg-transparent border-top-none"
                  style="z-index:2"
                >
                  <button
                    class="btn btn-link card-link"
                    @click="showDetailsJob(result.id)"
                  >
                    View details
                  </button>
                </div>
              </div>
            </div>
          </div>
          <bt-pagination
            :offset="state.offset"
            :size="state.size"
            :total="state.total"
            @changePage="loadPageData"
          />
        </div>
        <div class="col col-11 col-md-4">
          <div class="card">
            <div class="card-header">Filter search</div>
            <div class="card-body p-0">
              <ul class="list-group text-start">
                <li
                  v-if="state.type === 1"
                  class="list-group-item d-flex justify-content-between align-items-center"
                >
                  <div>
                    <p><b>Work status</b></p>
                    <p>
                      <button
                        v-if="filter.status !== 'open'"
                        class="btn text-secondary btn-link mx-1"
                        @click="setStatus('open')"
                      >
                        Open
                      </button>
                      <button
                        v-if="filter.status !== 'closed'"
                        class="btn text-secondary btn-link mx-1"
                        @click="setStatus('closed')"
                      >
                        Closed
                      </button>
                    </p>
                  </div>
                </li>
                <li
                  class="list-group-item d-flex justify-content-between align-items-center"
                >
                  <div>
                    <p><b>Type of job</b></p>
                    <p>
                      <button
                        v-for="work in typeFiltered"
                        :key="`work-${work}`"
                        class="btn text-secondary btn-link mx-1"
                        @click="addArray('type', work)"
                      >
                        {{ typeWork[work] }}
                      </button>
                    </p>
                  </div>
                </li>
                <li
                  v-if="state.type === 1"
                  class="list-group-item d-flex justify-content-between align-items-center"
                >
                  <div>
                    <p><b>Company</b></p>
                    <div>
                      <div class="input-group mb-3">
                        <input
                          type="text"
                          v-model="filterOrganization"
                          class="form-control"
                          placeholder="Job company"
                          aria-label="Job company"
                        />
                      </div>
                    </div>
                  </div>
                  <button
                    class="btn btn-primary text-white"
                    :disabled="
                      !filterOrganization ||
                        filterOrganization.trim().length <= 0
                    "
                    @click="
                      addArray('organization', filterOrganization.trim());
                      filterOrganization = '';
                    "
                  >
                    <i class="bi-plus"></i>
                  </button>
                </li>
                <li
                  v-if="state.type === 1"
                  class="list-group-item d-flex justify-content-between align-items-center"
                >
                  <div>
                    <p><b>Location</b></p>
                    <div>
                      <div class="input-group mb-3">
                        <input
                          type="text"
                          v-model="filterLocation"
                          class="form-control"
                          placeholder="Job location"
                          aria-label="Job location"
                        />
                      </div>
                    </div>
                  </div>
                  <button
                    class="btn btn-primary text-white"
                    :disabled="
                      !filterLocation || filterLocation.trim().length <= 0
                    "
                    @click="
                      addArray('location', filterLocation.trim());
                      filterLocation = '';
                    "
                  >
                    <i class="bi-plus"></i>
                  </button>
                </li>
                <li
                  v-if="state.type === 0"
                  class="list-group-item d-flex justify-content-between align-items-center"
                >
                  <div>
                    <p><b>Skills</b></p>
                    <div>
                      <div class="input-group mb-3">
                        <input
                          type="text"
                          v-model="filterSkills"
                          class="form-control"
                          placeholder="User skills"
                          aria-label="User skills"
                        />
                      </div>
                    </div>
                  </div>
                  <button
                    class="btn btn-primary text-white"
                    :disabled="!filterSkills || filterSkills.trim().length <= 0"
                    @click="
                      addArray('skills', filterSkills.trim());
                      filterSkills = '';
                    "
                  >
                    <i class="bi-plus"></i>
                  </button>
                </li>
              </ul>
              <div class="text-start mt-4 px-4">
                <p><b>Active filters</b></p>
                <p>
                  <span
                    v-if="filter.status"
                    class="badge bg-success rounded-pill m-1"
                    >Status: {{ filter.status
                    }}<span
                      class="btn btn-link btn-sm text-white"
                      @click="setStatus()"
                      ><i class="bi-trash"></i></span
                  ></span>

                  <span
                    v-for="(type, index) in filter.type"
                    :key="`${type}-${index}`"
                    class="badge bg-success rounded-pill m-1"
                    >Type: {{ type
                    }}<span
                      class="btn btn-link btn-sm text-white"
                      @click="deleteArray('type', type)"
                      ><i class="bi-trash"></i></span
                  ></span>
                  <span
                    v-for="(value, index) in filter.organization"
                    :key="`${value}-${index}`"
                    class="badge bg-success rounded-pill m-1"
                    >Organization: {{ value
                    }}<span
                      class="btn btn-link btn-sm text-white"
                      @click="deleteArray('organization', value)"
                      ><i class="bi-trash"></i></span
                  ></span>
                  <span
                    v-for="(value, index) in filter.location"
                    :key="`${value}-${index}`"
                    class="badge bg-success rounded-pill m-1"
                    >Location: {{ value
                    }}<span
                      class="btn btn-link btn-sm text-white"
                      @click="deleteArray('location', value)"
                      ><i class="bi-trash"></i></span
                  ></span>
                  <span
                    v-for="(value, index) in filter.skills"
                    :key="`${value}-${index}`"
                    class="badge bg-success rounded-pill m-1"
                    >Skills: {{ value
                    }}<span
                      class="btn btn-link btn-sm text-white"
                      @click="deleteArray('skills', value)"
                      ><i class="bi-trash"></i></span
                  ></span>
                </p>
              </div>
              <button
                class="btn btn-secondary text-white mt-4 mb-4"
                @click="applyFilters"
              >
                <i class="bi-filter me-2"></i> Apply filters
              </button>
            </div>
          </div>
          <div class="card mt-4">
            <div class="card-header">Related results</div>
            <div class="card-body p-0">
              <bt-accordion
                class="p-0 m-0"
                :items="resultAggregation[state.type]"
                :drag="false"
              >
                <template class="p-0" v-slot:tittle="{ item }">
                  {{ item.name }} ({{
                    (state.aggregators[item.id] || []).length
                  }})
                </template>
                <template class="p-0" v-slot:body="{ item }">
                  <ul class="list-group text-left">
                    <li
                      class="list-group-item d-flex justify-content-between align-items-center"
                      v-for="(itemAggregator, index) in state.aggregators[
                        item.id
                      ] || []"
                      :key="`${item.id}-${index}`"
                    >
                      {{ aggregationByType(item.id, itemAggregator.value) }}
                      <span class="badge bg-primary rounded-pill">{{
                        itemAggregator.total
                      }}</span>
                    </li>
                  </ul>
                </template>
              </bt-accordion>
            </div>
          </div>
        </div>
      </div>
    </div>
    <bt-popup
      v-model:value="showJobDetails"
      title="Job detail"
      v-on:update:value="doCloseJob()"
    >
      <bt-ribbon
        v-if="jobDetails.status === 'open'"
        class="bt-ribbon-success"
        title="Open"
        position="top-left"
      ></bt-ribbon>
      <bt-ribbon
        v-else
        class="bt-ribbon-danger"
        title="Closed"
        position="top-left"
      ></bt-ribbon>

      <div class="card-body">
        <img
          v-if="jobDetails.organizations.length > 0"
          :alt="jobDetails.organizations[0].name"
          width="92"
          :src="jobDetails.organizations[0].picture"
          class="img-circle"
        />
        <img
          v-else
          :alt="jobDetails.objective"
          width="92"
          src="@/assets/logo.png"
        />
        <h6 class="card-subtitle mb-2 text-muted mt-2">
          <i class="bi-building mr-2"></i>
          {{ jobDetails.organizations[0]?.name || "Unknown company" }}
        </h6>
        <h5 class="card-title mt-1">
          {{ jobDetails.objective }}
        </h5>
        <h6 class="card-subtitle mb-2 text-muted mt-2">
          <i class="bi-calendar mr-2"></i>
          {{ jobDetails.deadline || "Unknown deadline" }}
        </h6>
        <h6
          v-if="jobDetails.compensation?.visible"
          class="card-subtitle mb-2 text-muted mt-2"
        >
          <i class="bi-wallet2 mr-2"></i>
          {{ getCompensation(jobDetails.compensation) }}
        </h6>
        <p
          v-for="(detail, index) in jobDetails.details"
          :key="`detail-${index}`"
        >
          {{ detail.content }}
        </p>
        <p>
          <span
            v-for="(skill, skillIdx) in jobDetails.strengths"
            :key="`${jobDetails.subjectId}-${skillIdx}`"
            :title="`${skill.name}`"
            class="badge rounded-pill ms-1 overflow-chip bg-secondary"
            >{{ skill.name }}
            <span v-if="skill.experience !== 'potential-to-develop'"
              >({{ skill.experience.split("-")[0] }}+ years)</span
            ></span
          >
        </p>
      </div>
    </bt-popup>
    <bt-popup
      v-model:value="showUserDetails"
      title="User detail"
      v-on:update:value="doCloseUser()"
    >
      <bt-ribbon
        v-if="userDetails.person.verified"
        class="bt-ribbon-success"
        title="Verfied"
        position="top-left"
      ></bt-ribbon>
      <bt-ribbon
        v-else
        class="bt-ribbon-danger"
        title="Not verfied"
        position="top-left"
      ></bt-ribbon>

      <div class="card-body">
        <img
          v-if="userDetails.person.picture"
          :alt="userDetails.person.name"
          width="92"
          :src="userDetails.person.picture"
          class="img-circle"
        />
        <img
          v-else
          :alt="userDetails.person.name"
          width="92"
          src="@/assets/logo.png"
        />
        <h5 class="card-title mt-1">
          <i
            v-if="userDetails.person.verified"
            class="bi-shield-fill-check mr-2 text-success"
          ></i>
          <i v-else class="bi-shield-fill-exclamation mr-2 text-danger"></i>
          {{ userDetails.person.name }}
        </h5>
        <h6 class="card-subtitle mb-2 text-muted">
          <i class="bi-pin-angle-fill mr-2"></i>
          {{ userDetails.person.location?.name || "Unknown location" }}
        </h6>
        <p class="card-text">
          {{ userDetails.person.professionalHeadline }}
        </p>
        <p class="card-text">
          {{ userDetails.person.summaryOfBio }}
        </p>
        <div class="card-text">
          <p><b>Education</b></p>
          <ul>
            <li
              v-for="(education, index) in userDetails.education"
              :key="`education-${index}`"
            >
              {{ education.name }}
            </li>
          </ul>
        </div>
        <div class="card-text">
          <p><b>Jobs</b></p>
          <ul>
            <li v-for="(job, index) in userDetails.jobs" :key="`job-${index}`">
              {{ job.name }}
            </li>
          </ul>
        </div>
        <div class="card-text">
          <p><b>Experiences</b></p>
          <ul>
            <li
              v-for="(experience, index) in userDetails.experiences"
              :key="`experience-${index}`"
            >
              {{ experience.name }}
            </li>
          </ul>
        </div>

        <p>
          <span
            v-for="(skill, skillIdx) in userDetails.strengths"
            :key="`${userDetails.subjectId}-${skillIdx}`"
            :title="`${skill.name} (${skill.weight})`"
            class="badge rounded-pill ms-1 overflow-chip bg-secondary"
            >{{ skill.name }} ({{ skill.weight }})</span
          >
        </p>
      </div>
    </bt-popup>
  </div>
</template>

<script lang="ts">
import Torre from "@/store/torre";
import Notifications from "@/store/notifications";
import BtPagination from "@/components/Pagination.vue";
import BtRibbon from "@ikoabo/vue3-ui-bt/src/components/ribbon";
import BtAccordion from "@ikoabo/vue3-ui-bt/src/components/accordion";
import BtPopup from "@ikoabo/vue3-ui-bt/src/components/popup";
import { IFilter } from "@/utils/Filters";
import { computed, ref } from "vue";
import { AxiosError } from "axios";

export default {
  components: { BtPagination, BtRibbon, BtAccordion, BtPopup },
  setup() {
    const state: any = Torre.use();
    Notifications.use();

    const filterOrganization = ref("");
    const filterLocation = ref("");
    const filterSkills = ref("");

    const jobDetails = ref<any>(null);
    const showJobDetails = ref(false);

    const userDetails = ref<any>(null);
    const showUserDetails = ref(false);

    const loadPageData: any = (page: number) => {
      Torre.loadPage(page > 0 ? page : 1).catch(() => {
        Notifications.error(
          "There were some errors loading the information from torre.co",
          "Error loading data"
        );
      });
    };

    const resultAggregation = {
      0: [
        {
          name: "Compensation range",
          id: "compensationrange",
        },
        {
          name: "Open to",
          id: "opento",
        },
        {
          name: "Remote workers",
          id: "remoter",
        },
        {
          name: "Skills",
          id: "skill",
        },
      ],
      1: [
        {
          name: "Remote work",
          id: "remote",
        },

        {
          name: "Company",
          id: "organization",
        },
        {
          name: "Skills",
          id: "skill",
        },
        {
          name: "Compensation range",
          id: "compensationrange",
        },
        {
          name: "Type of work",
          id: "type",
        },
        {
          name: "Status",
          id: "status",
        },
      ],
    };

    const getCompensation = (compensation: any) => {
      switch (compensation.code) {
        case "range":
          return `${compensation.currency} ${compensation.minAmount} - ${compensation.maxAmount} / ${compensation.periodicity}`;
      }
      return "Unknown budget";
    };

    const filter = ref<IFilter>({
      status: undefined,
      type: [],
      organization: [],
      location: [],
      skills: [],
    });

    const setStatus = (status: string) => {
      filter.value.status = status;
    };

    const typeWork: any = {
      advising: "Advising",
      "freelance-gigs": "Freelance gigs",
      "full-time-employment": "Full time employment",
      hiring: "Hiring",
      internships: "Internships",
      mentoring: "Mentoring",
      "part-time-employment": "Part time employment",
    };

    const typeFiltered = computed(() => {
      return Object.keys(typeWork).filter(
        (value: string) => !filter.value.type?.includes(value)
      );
    });

    const aggregationByType = (type: string, item: string) => {
      switch (type) {
        case "compensationrange":
        case "skill":
        case "organization":
          return item;
        case "remoter":
        case "remote":
          if (item === "yes") {
            return "Yes";
          }
          return "No";
        case "status":
          if (item === "open") {
            return "Open";
          }
          return "Closed";
        case "opento":
        case "type":
          return typeWork[item] || "Unknown";
        default:
          return "Unknown";
      }
    };

    const addArray = (field: string, value: string) => {
      if (!(filter.value as any)[field].includes(value)) {
        (filter.value as any)[field].push(value);
      }
    };

    const deleteArray = (field: string, value: string) => {
      (filter.value as any)[field] = (filter.value as any)[field].filter(
        (tmp: string) => tmp !== value
      );
    };

    const applyFilters = () => {
      Torre.applyFilters(filter.value).catch(() => {
        Notifications.error(
          "There were some errors loading the jobs information from torre.co",
          "Error loading data"
        );
      });
    };

    const showDetailsUser = (user: string) => {
      Torre.fetchUser(user)
        .then((data: any) => {
          userDetails.value = data;
          showUserDetails.value = true;
        })
        .catch((err: AxiosError) => {
          Notifications.error(
            "There were some errors loading the target user information from torre.co",
            "Error loading data"
          );
        });
    };

    const showDetailsJob = (job: string) => {
      Torre.fetchJob(job)
        .then((data: any) => {
          jobDetails.value = data;
          showJobDetails.value = true;
        })
        .catch(() => {
          Notifications.error(
            "There were some errors loading the target job information from torre.co",
            "Error loading data"
          );
        });
    };

    const doCloseJob = () => {
      jobDetails.value = null;
    };

    const doCloseUser = () => {
      userDetails.value = null;
    };

    return {
      applyFilters,
      filterOrganization,
      filterLocation,
      filterSkills,
      typeWork,
      typeFiltered,
      addArray,
      deleteArray,
      filter,
      state,
      loadPageData,
      resultAggregation,
      aggregationByType,
      getCompensation,
      setStatus,
      showDetailsUser,
      showDetailsJob,
      jobDetails,
      doCloseJob,
      showJobDetails,
      userDetails,
      doCloseUser,
      showUserDetails,
    };
  },
};
</script>
