<template>
  <div
    v-if="(msg || '').length > 0"
    class="alert fade show"
    :class="{
      'alert-danger': type === 'danger',
      'alert-success': type === 'success',
      'alert-warning': type === 'warning',
      'alert-info': type === 'info',
      'alert-dismissible': dismissible,
    }"
    role="alert"
  >
    <h4 v-if="title" class="alert-heading">
      <i
        class="bi mr-2"
        :class="{
          'bi-check2-circle': type === 'success',
          'bi-exclamation-triangle': type === 'warning',
          'bi-x-circle': type === 'danger',
        }"
      ></i>
      {{ title }}
    </h4>
    <i
      v-if="!title"
      class="bi mr-2"
      :class="{
        'bi-check2-circle': type === 'success',
        'bi-exclamation-triangle': type === 'warning',
        'bi-x-circle': type === 'danger',
      }"
    ></i>
    {{ msg }}<br />
    <button
      v-if="dismissible"
      type="button"
      class="btn-close"
      aria-label="Close"
      @click="$emit('dismiss')"
    ></button>
  </div>
</template>

<script lang="ts">
export default {
  props: {
    type: {
      type: String,
      required: true,
      default: "danger",
    },
    title: String,
    msg: String,
    dismissible: {
      type: Boolean,
      default: false,
    },
  },
  emits: ["dismiss"],
};
</script>
