<template>
  <div style="max-width: 100%;overflow-x: scroll;overflow: auto;">
    <ul class="pagination justify-content-center">
      <li class="page-item" :class="{ disabled: page <= 1 }">
        <button
          class="btn btn-link page-link"
          :aria-disabled="page <= 1"
          @click="changePage(page - 1)"
        >
          <i class="bi bi-chevron-double-left me-1"></i> Previous
        </button>
      </li>
      <li
        v-for="n in pages"
        :key="n"
        class="page-item"
        :class="{ active: page === n }"
        :aria-current="page === n ? 'page' : ''"
      >
        <button class="btn btn-link page-link" @click="changePage(n)">
          {{ n }}
        </button>
      </li>
      <li class="page-item" :class="{ disabled: page >= pages }">
        <button
          class="btn btn-link page-link"
          :aria-disabled="page >= pages"
          @click="changePage(page + 1)"
        >
          Next<i class="bi bi-chevron-double-right ms-1"></i>
        </button>
      </li>
    </ul>
  </div>
  <div v-if="stats">
    Showing results {{ offset }} - {{ Math.min(offset + size, total) }} of
    {{ total }}
  </div>
</template>

<script lang="ts">
import { computed } from "vue";

export default {
  props: {
    offset: {
      type: Number,
      required: true,
      default: 0,
    },
    size: {
      type: Number,
      required: true,
      default: 50,
    },
    total: {
      type: Number,
      required: true,
      default: 0,
    },
    stats: {
      type: Boolean,
      default: false,
    },
  },
  emits: ["changePage"],
  setup(props: any, context: any) {
    const page = computed(() => {
      return props.offset / props.size + 1;
    });

    const pages = computed(() => {
      const remain = props.total % props.size;
      return (props.total - remain) / props.size + (remain > 0 ? 1 : 0);
    });

    const changePage = (newPage: number) => {
      context.emit("changePage", newPage);
    };
    return { page, pages, changePage };
  },
};
</script>
