footer {
  background-color: #2e2e2e !important;
  .social-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }
  .soc-item {
    margin: 0 0.5rem;
    font-size: 1.5rem;
    a:hover i {
      color: $secondary !important;
    }
  }
  .footer-links {
    line-height: 1.6;
    a,
    a:hover,
    a:active,
    a:visited {
      text-decoration: none;
      font-weight: normal;
    }
  }
}
