.header-navbar {
  background-color: #eeeeee !important;
}

.header-navbar-lg {
  height: 128px !important;
  max-height: 128px !important;
}

.header-navbar-sm {
  height: 64px !important;
  max-height: 64px !important;
}

.header-logo {
  max-width: 175px !important;
  height: 50px !important;
  max-height: 50px !important;
  object-fit: contain !important;
  object-position: center !important;
}
.header-menu {
  font-weight: bold;
  text-decoration: none !important;
  text-transform: uppercase !important;
}
.header-menu:hover {
  color: $primary !important;
}
