<template>
  <router-view />
</template>
<script lang="ts">
import Notifications from "@/store/notifications";
import Torre from "@/store/torre";

export default {
  setup() {
    Notifications.provide();
    Torre.provide();
  },
};
</script>
<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
