<template>
  <footer class="main-footer pt-2 pb-2">
    <div class="row text-white m-0">
      <div class="cols-12  text-center">
        <span class="display-7">
          &copy; Copyright 2020-{{ year }} Reinier Millo Sánchez - Todos los
          derechos reservados
        </span>
      </div>
    </div>
  </footer>
</template>

<script lang="ts">
export default {
  setup() {
    const year = new Date().getFullYear();
    return { year };
  },
};
</script>
