<template>
  <nav
    class="navbar navbar-expand-lg navbar-light header-navbar"
    :class="{
      'header-navbar-lg': showLg,
      'header-navbar-sm sticky-top': !showLg,
    }"
  >
    <div class="container-fluid align-content-center justify-content-center">
      <div class="col col-8 text-center">
        <h3 v-if="showLg">
          <img alt="Torre.co" width="42" src="@/assets/logo.png" class="pe-2" />
          TORRE.CO Data Correlation
        </h3>
        <div class="input-group">
          <input
            v-model="search"
            type="text"
            class="form-control"
            :class="{ 'input-spinner': state.loading }"
            placeholder=""
            aria-label="Example text with two button addons"
          />
          <div v-if="state.loading" class="spinner">
            <div class="spinner-border text-success" />
          </div>
          <button
            class="btn"
            :class="{
              'btn-primary text-white': type === 0,
              'btn-outline-primary': type !== 0,
            }"
            @click="searchType(0)"
            type="button"
          >
            Person
          </button>
          <button
            class="btn"
            :class="{
              'btn-primary text-white': type === 1,
              'btn-outline-primary': type !== 1,
            }"
            @click="searchType(1)"
            type="button"
          >
            Job
          </button>
        </div>
      </div>
    </div>
  </nav>
  <button
    v-if="scroll > 48"
    type="button"
    class="btn btn-dark btn-up"
    @click="goTop"
  >
    <i class="bi bi-chevron-double-up"></i>
  </button>
</template>

<script lang="ts">
import { ref, watch, onBeforeUnmount, nextTick } from "vue";
import Notifications from "@/store/notifications";
import Torre from "@/store/torre";

export default {
  setup() {
    const state: any = Torre.use();
    Notifications.use();

    const type = ref(0);
    const search = ref("");
    const showLg = ref(true);
    const scroll = ref(0);

    let timeoutSearch = -1;

    /* Handle scroll event */
    const handleScroll = () => {
      scroll.value = window.scrollY;
      showLg.value = scroll.value < 48;
    };

    /* Handle resize event */
    const handleResize = () => {
      nextTick(() => {
        handleScroll();
      });
    };

    /* Register scroll listeners */
    window.addEventListener("scroll", handleScroll, false);
    window.addEventListener("resize", handleResize, false);

    /* Clear scroll listeners */
    onBeforeUnmount(() => {
      window.removeEventListener("scroll", handleScroll, false);
      window.removeEventListener("resize", handleResize, false);
    });

    /* Call the server real search */
    const callSearch = (type: number, value: string) => {
      if (type === 1) {
        /* Search jobs information */
        return Torre.fetchJobs(value, state.offset, state.size)
          .then(() => {
            /* Do nothing */
          })
          .catch(() => {
            Notifications.error(
              "There were some errors loading the jobs information from torre.co",
              "Error loading data"
            );
          });
      }

      /* Search people information */
      Torre.fetchPeople(value, state.offset, state.size)
        .then(() => {
          /* Do nothing */
        })
        .catch(() => {
          Notifications.error(
            "There were some errors loading the people information from torre.co",
            "Error loading data"
          );
        });
    };

    /* Dispatch the search action */
    const doSearch = (value: string) => {
      if (timeoutSearch !== -1) {
        clearTimeout(timeoutSearch);
        timeoutSearch = -1;
      }
      timeoutSearch = setTimeout(() => {
        callSearch(type.value, value);
        timeoutSearch = -1;
      }, 750);
    };

    const searchType = (value: number) => {
      type.value = value;
      doSearch(search.value);
    };

    /* Back to the page top */
    const goTop = () => {
      window.scrollTo({ top: 0 });
    };

    /* Look for the search input update */
    watch(search, (value: string) => {
      doSearch(value);
    });

    return { search, type, searchType, showLg, scroll, goTop, state };
  },
};
</script>
<style lang="scss" scoped>
.input-spinner {
  padding-right: 2.2rem;
}
.spinner {
  padding: 6px 0;
  z-index: 9999;
  margin-left: -2rem;
  div {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: -2rem;
  }
}
.btn-up {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  width: 42px;
  height: 42px;
}
</style>
