<template>
  <bt-overlay
    v-if="stateTorre.loading"
    style="position: fixed; top:0, left:0; z-index: 99999;width: 100vw; height: 100vh;"
  />
  <div class="d-flex flex-column min-vh-100 max-vw-100">
    <VHeader />
    <div class="flex-grow-1">
      <main class="cols-12">
        <router-view></router-view>
      </main>
    </div>
    <bt-notification
      class="stick-notification"
      v-if="state.notifications.length > 0"
      dismissible
      @dismiss="dismissNotification"
      :type="notification.type"
      :title="notification.title"
      :msg="notification.body"
    />
    <VFooter />
  </div>
</template>

<script lang="ts">
import VHeader from "@/layouts/Header.vue";
import VFooter from "@/layouts/Footer.vue";
import BtNotification from "@/components/Notification.vue";
import Notifications from "@/store/notifications";
import Torre from "@/store/torre";
import BtOverlay from "@ikoabo/vue3-ui-bt/src/components/overlay";
import { computed } from "vue";

export default {
  components: {
    VHeader,
    VFooter,
    BtNotification,
    BtOverlay,
  },
  setup() {
    const state: any = Notifications.use();
    const stateTorre: any = Torre.use();

    const notification: any = computed(() => {
      const len = Notifications.state.notifications.length;
      if (len <= 0) {
        return {
          type: "",
          title: "",
          body: "",
        };
      }

      return Notifications.state.notifications[len - 1];
    });

    const dismissNotification: any = () => {
      Notifications.clearNotification();
    };
    return { state, stateTorre, dismissNotification, notification };
  },
};
</script>
<style lang="scss" scoped>
.stick-notification {
  position: fixed !important;
  left: 5vw !important;
  width: 90vw !important;
  bottom: 0 !important;
  z-index: 9999 !important;
}
</style>
